body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow-x: hidden;
  background: #141414;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-y: hidden;
}

* {
  font-family: "Rubik", sans-serif;
  color: white;
  box-sizing: border-box;
}

/* =========================== */

.page-background {
  width: 100%;
  height: 100dvh;
}

.page-background::before {
  position: absolute;
  background-image: url("../assets/image-bg.jpg");
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  z-index: -1;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  filter: blur(2px);
  mask-image: linear-gradient(
    to bottom,
    #141414 30%,
    #141414 30%,
    transparent 100%
  );
}

header {
  position: fixed;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  z-index: 900;
}

header .header__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header__navigation .navigation {
  display: flex;
  text-transform: uppercase;
  font-size: clamp(10px, 5vw, 15px);
  gap: clamp(10px, 5vw, 100px);
}

.navigation a {
  border-bottom: 1px solid transparent;
  position: relative;
  margin-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  text-shadow: 0 0 20px rgb(38, 38, 38);
}

.navigation a:after {
  position: absolute;
  content: "";
  width: 0%;
  left: 0;
  bottom: 0;
  height: 2px;
  background: rgb(243, 238, 238);
  transition: width 0.5s ease-out;
}

.navigation a:hover::after {
  width: 100%;
}

/* =============== */

.social-medias {
  display: flex;
  gap: 20px;
}

.social-medias a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 15;
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
}

.social-medias a:hover {
  background-color: blueviolet;
}

.social-medias a:hover i {
  color: white;
}

.social-medias a i {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: rgb(50, 50, 50);
  transition: 1s ease;
}

/* ========================= */

.page-content {
  margin-top: 190px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 2px solid white; */
  width: 95%;
  padding: 10px;
}

.word-of-the-day {
  display: flex;
  flex-direction: column;
  /*  border: 2px solid white; */
  width: 70%;
  gap: 30px;
}

.word-of-the-day #phrase {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 5rem;
  color: #ffd000ef;
  user-select: none;
  font-size: clamp(4rem, 10vw, 5rem);
}

.word-of-the-day #frase {
  user-select: none;
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  line-height: 50px;
  font-family: "Kapakana", cursive;
}

main .word {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 9999px;
  border: 2px solid white;
  width: 240px;
  transition: transform 0.5s ease;
}

.word:hover {
  transform: translateY(-10px);
  background: purple;
}

main .word button {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
}

/* ============================= */

/* ======================== */

.main--video {
  display: flex;
  align-items: center;
  /* border: 2px solid white; */
  width: 100%;
  height: auto;
  gap: clamp(0px, 5vw, 90px);
}

.main--video .ads-phrase {
  max-width: 600px;
}

.ads-phrase span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.ads-phrase p {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
  color: white;
  line-height: 20px;
}

.ads-player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  background-color: #141414;
  min-width: 720px;
  height: 500px;
  /* border: 2px solid white; */
}

.ads-player iframe {
  min-width: 500px;
  height: 400px;
  border-radius: 8px;
}

.ads-player::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 650px;
  height: 150%;
  pointer-events: none;
  transform: translateX(35px) translateY(-90px);
  background: url("../assets/ChatGPT\ Image\ Jun\ 2\,\ 2025\,\ 07_50_47\ PM.png");
  background-size: 100%;
  /*   border: 2px solid red; */
  background-position-y: center;
  background-repeat: no-repeat;
}

/* ============================== */

.main-pix {
  border-top: 1px solid rgb(164, 164, 164);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 10px;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 200px;
}

.main-pix .qrcode--main {
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(135deg, #c020c8, #8d2e74, #5b1749);
}

.qrcode--main img {
  border-radius: 2px;
}

.main-pix .pix--text {
  padding: 30px 20px;
  background: linear-gradient(135deg, #c020c8e0, #8d2e7477, #5b1749);
  max-width: 500px;
  word-spacing: clamp(0px, 10vw, 2px);
  border: 2px dotted white;
  border-radius: 8px;
}
.pix--text span {
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
}

.pix--text p {
  text-align: justify;
  line-height: 20px;
}

@media only screen and (max-width: 900px) {
  .main--video {
    flex-direction: column;
  }
  .ads-player::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 550px;
    height: 150%;
    pointer-events: none;
    transform: translateX(0px) translateY(-90px);
    background: url("../assets/ChatGPT\ Image\ Jun\ 2\,\ 2025\,\ 07_50_47\ PM.png");
    background-size: 100%;
    /*   border: 2px solid red; */
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .ads-player iframe {
    min-width: 450px;
    height: 320px;
    border-radius: 8px;
  }
  .ads-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    background-color: #141414;
    min-width: 550px;
    height: 500px;
    /* border: 2px solid white; */
  }
}

@media only screen and (max-width: 680px) {
  header {
    flex-direction: row;
  }

  .header__navigation .navigation {
    display: none;
  }
  .main-pix {
    border-top: 1px solid rgb(164, 164, 164);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 10px;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 0;
  }
}

@media only screen and (max-width: 580px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .word-of-the-day {
    width: 100%;
  }

  header img {
    height: clamp(55px, 10vw, 60px);
  }

  header {
    flex-direction: column;
  }

  header .social-medias {
    opacity: 0.8;
  }

  .social-medias a {
    width: 55px;
    height: 55px;
  }

  .social-medias a i {
    font-size: 25px;
  }

  .page-content {
    margin-top: 265px;
  }
  .ads-player::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 440px;
    height: 150%;
    pointer-events: none;
    transform: translateX(55px) translateY(-110px);
    background: url("../assets/ChatGPT\ Image\ Jun\ 2\,\ 2025\,\ 07_50_47\ PM.png");
    background-size: 100%;
    /*   border: 2px solid red; */
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .ads-player iframe {
    min-width: 320px;
    height: 250px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 8px;
  }
  .main--video {
    gap: 0px;
  }
}

@media only screen and (max-width: 420px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .word-of-the-day {
    width: 100%;
  }

  header img {
    height: clamp(55px, 10vw, 60px);
  }

  header {
    flex-direction: column;
  }

  header .social-medias {
    opacity: 0.8;
  }

  .social-medias a {
    width: 55px;
    height: 55px;
  }

  .social-medias a i {
    font-size: 25px;
  }

  .page-content {
    margin-top: 200px;
  }
  .ads-player::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 380px;
    height: 150%;
    pointer-events: none;
    transform: translateX(80px) translateY(-120px);
    background: url("../assets/ChatGPT\ Image\ Jun\ 2\,\ 2025\,\ 07_50_47\ PM.png");
    background-size: 100%;
    /*   border: 2px solid red; */
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .ads-player iframe {
    min-width: 120px;
    height: 200px;
    margin-bottom: 30px;
    margin-right: 10px;
    border-radius: 8px;
  }

  .main--video {
    gap: 0px;
  }
}
