:root {
  --bg-color: #0f0f0f;
  --bg-header: linear-gradient(90deg, #000000, #181818, #c89116);
  --bg-player: #212020;
  --bg-text-player: #4c4a4a;
  --mask-image: ;
  --bg-bottom-header: #d4af37;
  --bg-footer: linear-gradient(90deg, #000000ee, #181818ee, #c89016ee);
  --footer-bg: transparent;
  --footer-bg-icons: rgba(41, 41, 41, 0.646);
  /* font sections var */
  --font-sections: 22px;
  /* border players */
  --border-1px: 1px solid white;
}
